<!--<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <ul class="list-group">
                <li class="list-item-group" *ngFor="let city of cities.cities">
                    {{city.name}}
                </li>
            </ul>
        </div>
    </div>
</div>-->

<div class="container">
    <h3><strong>Cities</strong></h3>
    <div class="row">
        <div class="col-sm-8">
            <table class="table table-condensed" style="max-width: 350px; overflow-y:auto;">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>stateid</th>
                        <th>statename</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [routerLink]="['/states', cities._id]"*ngFor="let city of cities.cities">
                        <td>{{city._id}}</td>
                        <td>{{city.name}}</td>
                        <td>{{city.state_id}}</td>
                        <td>{{city.state_name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>